<a href="https://colab.research.google.com/github/callee2006/MachineLearning/blob/master/python_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic types (int, float, bool, str)

In [1]:
a = 5
type(a)

int

In [2]:
f = 2.0
type(f)

float

In [3]:
b = True
type(b)

bool

In [4]:
s = "Hello, World!"
type(s)

str

# Input and output

In [5]:
print("What's your name?")
name = input()                                 # reading a string
print("Nice to see you, ", name)

What's your name?
Shrek
Nice to see you,  Shrek

In [6]:
# reading numbers
print("Input a: ")
a = int(input())

print("Input b: ")
b = int(input())

c = a + b
print("{} + {} = {}".format(a, b, c))          # formatted output

Input a:
10
Input b:
20
10 + 20 = 30

# for - Loop

In [7]:
# repeating 5 times
for i in range(5):
   print("i = ", i)

i =  0
i =  1
i =  2
i =  3
i =  4

In [8]:
# repeating from 20 to 200, stop = 10
for i in range(20, 100, 10):         # start = 20, end = 100, step = 10
   print("i = ", i)

i =  20
i =  30
i =  40
i =  50
i =  60
i =  70
i =  80
i =  90

# Lists

* Container of heterogeneous objects
    
* Flexible (e.g. a list  can contain another list)

* Designed for efficient insertion / deletion

In [9]:
# creating a list
a = [5,10,15,20,25,30,35,40]
print(a)
print("len(a) = ", len(a))

[5, 10, 15, 20, 25, 30, 35, 40]
len(a) =  8

In [10]:
b = [3.14, 100, 'hello', a]
print(b)

[3.14, 100, 'hello', [5, 10, 15, 20, 25, 30, 35, 40]]

In [11]:
# element access
print("a[2] = ", a[2])

a[2] =  15

In [12]:
# slicing from 0 to 3 (exclusively)
print("a[0:3] = ", a[0:3])

a[0:3] =  [5, 10, 15]

In [13]:
# slicing from 0 to 6 (exclusively), step = 2
print("a[0:6:2] = ", a[0:6:2])

a[0:6:2] =  [5, 15, 25]

In [14]:
# slicing from 5 to the end of the list
print("a[5:] = ", a[5:])

a[5:] =  [30, 35, 40]

In [15]:
a.append(50)                # append 50 at the end of list
print(a)
a.insert(8, 45)             # insert 45 at position 8
print(a)
a.remove(5)                 # remove the first 5
print(a)

[5, 10, 15, 20, 25, 30, 35, 40, 50]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
[10, 15, 20, 25, 30, 35, 40, 45, 50]

## Loops with lists

In [16]:
animals = ['cat', 'dog', 'monkey']
for animal in animals:
    print(animal)

cat
dog
monkey

In [17]:
animals = ['cat', 'dog', 'monkey']
for idx, animal in enumerate(animals):
    print('{}: {}'.format(idx + 1, animal))

1: cat
2: dog
3: monkey

## List comprehansion

In [18]:
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
    squares.append(x**2)        # x** 2 means x2 
print(squares)

[0, 1, 4, 9, 16]

In [19]:
nums = [0, 1, 2, 3, 4]
even_squares = [x ** 2 for x in nums if x % 2 == 0]
print(even_squares)

[0, 4, 16]

## 2D Lists

In [20]:
list2D = [[1, 2, 3], [4, 5, 6]]          # creating a 2D list
rows = len(list2D)                       # retrieving <# of rows> 
cols = len(list2D[0])                    # retrieving <# of columns>
print("size of list2D = {} x {}".format(rows, cols))
print(list2D)

size of list2D = 2 x 3
[[1, 2, 3], [4, 5, 6]]

In [21]:
# accessing an element
list2D[0][1]

2

In [22]:
# accessing a row
list2D[1]

[4, 5, 6]

# Tuples

* Container of heterogeneous objects    

* Immutable

In [23]:
# creating a tuple
t = (5,'program', 1+3j)
print(t)

(5, 'program', (1+3j))

In [24]:
# accessing elements

print("t[1] = ", t[1])
# t[1] = 'program'

print("t[0:3] = ", t[0:3])
# t[0:3] = (5, 'program', (1+3j))

t[1] =  program
t[0:3] =  (5, 'program', (1+3j))

In [25]:
# Tuples are immutable
# The following code generates error
t[0] = 10

TypeError: ignored

# Dictionaries

In [26]:
d = {'cat':'cute', 'dog':'furry'}   # creates a new dictionary
print(d['cat'])
print('cat' in d)

cute
True

In [27]:
d2 = {0:'hello', 1:'world'}
print(d2[1])
d3 = {'sbs':6, 'kbs2':7, 'kbs1':9, 'mbc':11}
print("kbs1 =", d3['kbs1'])

world
kbs1 = 9

In [28]:
d['fish'] = 'wet'    # set an entry in a dictionary
print(d['fish'])

wet

In [29]:
# this code causes an error because there is no key 'chicken'
print(d['chicken'])                 # ERROR

KeyError: ignored

In [0]:
print(d.get('monkey', 'N/A'))  # Get an element with a default; prints "N/A"
del d['fish']         # remove an element from a dictionary
print(d.get('fish', 'N/A')) # "fish" is no longer a key; prints "N/A"

# Function

In [0]:
def is_even(x):
   if x % 2 == 0:
      return True
   else:
      return False

In [0]:
print("is_even(20) = {}".format(is_even(20)))
print("is_even(35) = {}".format(is_even(35)))

# Class

In [0]:
# defining a class
class Hello:
    def __init__(self, message):
        self.mesg = message      
      
    def display(self):
        print('=' * 20, end = '')
        print(self.mesg, end = '')
        print('=' * 20, end = '')
        
    def get_message(self):
        return self.mesg

In [0]:
# creating a class object
hello = Hello('nice to see you!')

In [0]:
# calling methods
hello.display()
print("message = ", hello.get_message())

# Numpy Arrays

In [0]:
import numpy as np

In [0]:
a = np.array([1, 2, 3])
print(type(a))
print(a.shape)

In [0]:
print(a[0], a[1], a[2])
a[0] = 5                  	# Change an element of the array
print(a)

## 2D array

In [0]:
b = np.array([[1,2,3],[4,5,6]])    # Create a 2D array
print(b)
print(b.shape)
print(b[0, 0], b[0, 1], b[1, 0])

In [0]:
a = np.zeros((2,3))   # Create an array of all zeros
print(a)

b = np.ones((1,2))    # Create an array of all ones
print(b)

c = np.full((2,3), 7)  # Create a constant array
print(c)

d = np.eye(2)      # Create a 2x2 identity matrix
print(d)

e = np.random.random((2,2))  # Create an array filled with random values
print(e)

## array slicing

In [0]:
# Create the following rank 2 array with shape (3, 4)
a = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])
print(a)

In [0]:
b = a[:2, 1:3]
print(b)

In [0]:
# A slice of an array is a view into the same data, so modifying it will modify the original array.
print(a[0, 1])
b[0, 0] = 77                 # b[0, 0] is the same piece of data as a[0, 1]
print(a[0, 1])

In [0]:
row_r1 = a[1, :]             # Rank 1 view of the second row of a
row_r2 = a[1:2, :]           # Rank 2 view of the second row of a
print(row_r1, row_r1.shape)
print(row_r2, row_r2.shape)

In [0]:
col_r1 = a[:, 1]
print(col_r1, col_r1.shape)
col_r2 = a[:, 1:2]
print(col_r2, col_r2.shape)

## array broadcasting

In [0]:
# We will add the vector v to each row of the matrix x,
# storing the result in the matrix y
x = np.array([[1,2,3], [4,5,6], [7,8,9], [10, 11, 12]])
v = np.array([1, 0, 1])
y = x + v  # Add v to each row of x using broadcasting
print(y)

# matplotlib

for detail, see https://matplotlib.org/api/_as_gen/matplotlib.pyplot.plot.html

In [0]:
import numpy as np
import matplotlib.pyplot as plt

In [0]:
# Compute the x and y coordinates for points on sine and cosine curves
x = np.arange(0, 3 * np.pi, 0.1)
y_sin = np.sin(x)
y_cos = np.cos(x)

In [0]:
# Plot the points using matplotlib
plt.plot(x, y_sin)
plt.plot(x, y_cos)
plt.xlabel('x axis label')
plt.ylabel('y axis label')
plt.title('Sine and Cosine')
plt.legend(['Sine', 'Cosine'])
plt.show()

In [0]:
# Set up a subplot grid that has height 2 and width 1,
# and set the first such subplot as active.
plt.subplot(2, 1, 1)
plt.plot(x, y_sin)
plt.title('Sine')

# Set the second subplot as active, and make the second plot.
plt.subplot(2, 1, 2)
plt.plot(x, y_cos)
plt.title('Cosine')

# Show the figure.
plt.show()